<div class="users-container">
<% if @user %>
Logged in as <%= @user.name %>
      <button> <%= link_to 'Logout', '/users/sign_out', method: :delete %></button>

<% end %>
<% if !@user %>
   <button> <%= link_to 'Sign Up', '/users/sign_up' %></button>
      <button> <%= link_to 'Login', '/users/sign_in' %></button>
<% end %>
  <% @users.includes(:posts).each do |user| %>
    <%= render 'user_card', user: user %>
  <% end %>
</div>