<div class="post">
   <p class="post-title"><%= @post.title %> By <%= @user.name %></p>
      <div class="interact"><span class="post-comment">Comments: <%= @post.comments_counter %></span><span class="post-like">Likes: <%= @post.likes_counter %></span></div>
   <p class="post-text"><%= @post.text %></p>
</div>
    <button> <%= link_to 'Add Comment', new_comment_path %></button>
     <%= button_to 'Like', user_create_post_like_url %>
        <% if can? :delete, @post %>
          <%= button_to 'Delete', destroy_post_path, method: :delete %>
          <% end %>
<div class="comment-cont">
   <% @post.recent_comments(100).each do |comment| %>
   <p> <%= comment.author.name %>: <%= comment.text %></p>
   <% if can? :delete, comment %>
      <%= button_to 'Delete', destroy_comments_path(comment.post.author, comment.post, comment), method: :delete %>
<% end %>
<% end %>
</div>

