<div class="post">
   <p class="post-title"><%= @post.title %> By <%= @user.name %></p>
      <div class="interact"><span class="post-comment">Comments: <%= @post.comments_counter %></span><span class="post-like">Likes: <%= @post.likes_counter %></span></div>
   <p class="post-text"><%= @post.text %></p>
</div>
<div class="comment-cont">
   <% @post.recent_comments(100).each do |comment| %>
   <p><%= comment.text %></p>
<% end %>
</div>

